<div class="container">
  <p class="profile-email">You is
    <b><%= current_user.email %></b>
    <br/>
  </p>
  <p class="profile-name">You Zendesk email:
    <b><%= current_user.zendesk_email %></b>
  </p>
  <div class="row">
    <% @tickets.each do |t| %>
      <div class="col-lg-6 col-md-6">
        <h3>Email:</h3>
        <div class="zendesk-email-data">
          <div>
            <label>Received: </label> <span><%=t['created_at']%></span>
          </div>
          <div>
            <label>From:</label> <span><%=t['via']['source']['from']['address']%></label></span>
          </div>
          <div>
            <label>Subject:</label> <span><%=t['subject']%></span>
          </div>
          <div>
            <label>Text: </label>
            <span><%=t['description']%></span>
          </div>
        </div>
      </div>
    <%end%>
  </div>

</div>