<div class="container">
  <p class="profile-email">You is
    <b><%= current_user.email %></b>
    <br/>
  </p>
  <p class="profile-name">You Zendesk email:
    <b><%= current_user.zendesk_email %></b>
  </p>
  <div class="row ticket">
    <div class="col-lg-6 col-md-6 pull-right">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <% current_user.categories.each do |category| %>
              <div class="col-lg-6 col-md-6">
                <div class="message-category">
                  <label>
                    <input type="radio" name="category">
                    <%= category.name %>
                  </label>
                </div>
              </div>
            <%end%>
          </div>
          <%=link_to 'Change category?', :categories, class: 'btn btn-default' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <% current_user.action_messages.each do |action| %>
                <div class="col-lg-6 col-md-6">
                  <div class="message-action">
                    <label>
                      <input type="radio" name="action">
                      <%= action.name %>
                    </label>
                  </div>
                </div>
            <%end%>
          </div>
          <%=link_to 'Change Action?', :action_messages, class: 'btn btn-default' %>
        </div>
      </div>

      <button class="btn btn-success" onclick="prev()">Prev</button>
      <button class="btn btn-success" onclick="next()">Next</button>
    </div>
  </div>

</div>